@model IEnumerable<MabaCore.Data.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card mb-3">
                <h3 class="card-header">@item.Name</h3>
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <h6 class="card-subtitle text-muted">@item.SubTitle</h6>
                </div>
                <img style="height: 200px; width: 100%; display: block;"
                     src="@item.ImageURL"
                     alt="Card image" />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@item.Price $</li>
                </ul>
                <div class="card-body">
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id" class="btn btn-primary ">
                        Add to cart
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary float-right">
                        View
                    </a>
                </div>
            </div>
        </div>
    }
</div>
